<%- include("Components/Header") %>
    <style>
        .post-content-body {
            text-align: center;
        }

        .img_pnl img {
            width: 60%;
            height: auto;
        }
    </style>

    <div class="site-cover site-cover-sm same-height overlay single-page"
        style=" background-size: cover; background-position: center;" id="blogContainer">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-6">
                    <div class="post-entry text-center">
                        <h1 class="mb-4">
                            <%= blog.title %>
                        </h1>
                        <div class="post-meta align-items-center text-center">
                            <span>&nbsp;-&nbsp; <%=blog.date %></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container">
            <div class="row blog-entries element-animate">
                <div class="post-content-body">
                    <%- blog.body %>
                </div>
                <div class="pt-5">
                    <p>Category <a href="/category/<%=blog.category%>">
                            <%=blog.category%>
                        </a>
                </div>
            </div>
        </div>
    </section>

    <script>
        // Get the blog title image URL from the server-side data
        const blogTitleImage = '<%= blog.titleImage.replace(/\\/g, "/") %>';

        // Set the background image dynamically using JavaScript
        const blogContainer = document.getElementById('blogContainer');
        console.log(blogContainer)
        blogContainer.style.backgroundImage = `url('${blogTitleImage}')`;
    </script>

    <%- include("Components/Footer") %>