<%- include("Components/Header")%>

    <div class="section search-result-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading">Category: <%= category %>
                    </div>
                </div>
            </div>
            <div class="row posts-entry">
                <div class="col-lg-12">
                    <% blogs.forEach(blog=> { %>

                        <div class="blog-entry d-flex blog-entry-search-item">
                            <a href="/blog/<%= blog._id %>" class="img-link me-4">
                                <img src="<%= blog.titleImage %>" alt="Image" class="img-fluid">
                            </a>
                            <div>
                                <span class="date">Apr. 14th, 2022 &bullet; <a href="/blog/<%= blog._id %>">
                                        <%= blog.category %>
                                    </a></span>
                                <h2><a href="/blog/<%= blog._id %>">
                                        <%= blog.title %>
                                            </p>
                                            <p><a href="/blog/<%= blog._id %>"
                                                    class="btn btn-sm btn-outline-primary">Read More</a></p>
                            </div>
                        </div>

                        <% }) %>
                </div>

            </div>
        </div>
    </div>
    <%- include("Components/Footer") %>