<%- include("Components/Header") %>

    <style>
        /* Mobile View */
        @media only screen and (max-width: 767px) {
            .custom-container {
                color: #181818;
                margin: 3rem auto !important;
                width: 100% !important;
                text-align: justify !important;
            }

            .head-logo-div {
                justify-content: center;
                height: 140px;
                margin-bottom: 15px;
            }

            .img-wrapper {
                width: 350px;
                height: 250px;
                overflow: hidden;
            }

            .img-wrapper img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .img-wrapper-l {
                width: 350px;
                height: 250px;
                overflow: hidden;
            }

            .img-wrapper-l img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        /* Tablet View */
        @media only screen and (min-width: 768px) and (max-width: 1023px) {}

        /* Desktop View */
        @media only screen and (min-width: 1024px) {
            .nav-hr-items {
                display: flex;
                align-items: end;
                margin: 0 0 4px 15px;
            }

            .nav-hr-items h6 {
                margin-inline: 20px;
                font-weight: 600;
            }

            .head-logo-div img {
                height: 140px;
                margin-bottom: 15px;
                padding-left: 0px;
            }

            .img-wrapper {
                width: 400px;
                height: 300px;
                overflow: hidden;
            }

            .img-wrapper img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .img-wrapper-l {
                width: 300px;
                height: 200px;
                overflow: hidden;
            }

            .img-wrapper-l img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    </style>
    <!-- Start retroy layout blog posts -->
    <section class="section bg-light" style="padding-top: 1rem;">
        <div class="head-logo-div container d-flex">
            <img src="/images/info-wheel-logo2.png" alt="">
            <div class="nav-hr-items desktop-view-only">
                <h6><a href="/#technology">Technology</a></h6>
                <h6><a href="/#lifestyle">Lifestyle</a></h6>
                <h6><a href="/#food">Food</a></h6>
                <h6><a href="/#improvement">Home Improvement</a></h6>
            </div>

        </div>
        <div class="container">
            <hr style="width: 100%; margin: 0 0 30px 0; height: 4px; color: #1D6FB7; opacity: 1;">
            <div class="row align-items-stretch retro-layout">
                <div class="col-md-4">
                    <a href="blog/<%= recentBlogs?.Technology[0]?._id %>" class="h-entry mb-30 v-height gradient">

                        <div class="featured-img" id="blog1"
                            style=" background-position: center; background-image: url('images/img_2_horizontal.jpg');">
                        </div>

                        <div class="text">
                            <span class="date">
                                <%= recentBlogs?.Technology[0]?.date %>
                            </span>
                            <h2>
                                <%= recentBlogs?.Technology[0]?.title %>
                            </h2>
                        </div>
                    </a>
                    <a href="blog/<%= recentBlogs?.Lifestyle[0]?._id %>" class="h-entry v-height gradient">

                        <div id="blog2" class="featured-img"
                            style="background-image: url('images/img_2_horizontal.jpg');">
                        </div>

                        <div class="text">
                            <span class="date">
                                <%= recentBlogs.Lifestyle[0]?.date %>
                            </span>
                            <h2>
                                <%= recentBlogs.Lifestyle[0]?.title %>
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="single.html" class="h-entry img-5 h-100 gradient">

                        <div class="featured-img" style="background-image: url('images/img_2_horizontal.jpg');"></div>

                        <div class="text">
                            <span class="date">Apr. 14th, 2022</span>
                            <h2>The Rise of 5G Technology: Unlocking a New Era of Connectivity</h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="blog/<%= recentBlogs.Food[0]?._id %>" class="h-entry mb-30 v-height gradient">

                        <div id="blog3" class="featured-img"
                            style="background-image: url('images/img_2_horizontal.jpg');">
                        </div>

                        <div class="text">
                            <span class="date">
                                <%= recentBlogs.Food[0]?.date %>
                            </span>
                            <h2>
                                <%= recentBlogs.Food[0]?.title %>
                            </h2>
                        </div>
                    </a>
                    <a href="blog/<%= recentBlogs.Food[0]?._id %>" class="h-entry v-height gradient">

                        <div id="blog4" class="featured-img"
                            style="background-image: url('images/img_2_horizontal.jpg');">
                        </div>

                        <div class="text">
                            <span class="date">
                                <% recentBlogs["Home Improvement"][0]?.date %>
                            </span>
                            <h2>
                                <%= recentBlogs["Home Improvement"][0]?.title %>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End retroy layout blog posts -->

    <!-- Start posts-entry -->
    <section id="technology" class="section posts-entry">
        <div class="container">
            <div class="row mb-4">
                <div class="col-sm-9">
                    <h2 class="posts-entry-title">technology</h2>

                </div>
                <div class="col-sm-3 text-sm-end"><a href="/category/Technology" class="read-more">View All</a>
                </div>
            </div>
            <div class="row g-3">
                <p style="font-size: large; color: black;">Embrace the future with our tech-focused blog, where we
                    delve into the fascinating realm of
                    cutting-edge innovations and explore how they shape our lives.</p>
                <div class="col-md-12">
                    <div class="row">
                        <% blogs.Technology.forEach(blog=> { %>

                            <div class="col-md-4">
                                <div class="blog-entry">
                                    <a href="/blog/<%= blog._id %>" class="img-link">
                                        <div class="img-wrapper">
                                            <img src="<%= blog.titleImage %>" alt="Image" class="img-fluid custom-img">
                                        </div>
                                    </a>
                                    <span class="date">
                                        <%= blog.date %>
                                    </span>
                                    <h2><a href="/blog/<%= blog._id %>">
                                            <%= blog.title %>
                                        </a>
                                    </h2>
                                    <p>
                                        <%- blog.body.substring(0,50) + "..." %>
                                    </p>
                                    <p><a href="/blog/<%= blog._id %>" class="btn btn-sm btn-outline-primary">Read
                                            More</a>
                                    </p>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End posts-entry -->

    <!-- Start posts-entry -->
    <section id="lifestyle" class="section posts-entry posts-entry-sm bg-light">
        <div class="container">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h2 class="posts-entry-title">Lifestyle</h2>
                </div>
                <div class="col-sm-6 text-sm-end"><a href="/category/Lifestyle" class="read-more">View All</a></div>
            </div>
            <div class="row">
                <p style="font-size: large; color: black;">Embrace the future with our tech-focused blog, where we
                    delve into the fascinating realm of
                    cutting-edge innovations and explore how they shape our lives.</p>
                <% blogs.Lifestyle.forEach(blog=> { %>
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-entry">
                            <a href="/blog/<%= blog._id %>" class="img-link">
                                <div class="img-wrapper-l">
                                    <img src="<%= blog.titleImage %>" alt="Image" class="img-fluid custom-img">
                                </div>
                            </a>
                            <span class="date">
                                <%= blog.date %>
                            </span>
                            <h2><a href="/blog/<%= blog._id %>">
                                    <%= blog.title %>
                                </a></h2>
                            <p>
                                <%- blog.body.substring(0,50) + "..." %>
                            </p>
                            <p><a href="/blog/<%= blog._id %>" class="read-more">Continue Reading</a></p>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </section>
    <!-- End posts-entry -->

    <!-- Start posts-entry -->
    <section id="food" class="section">
        <div class="container">

            <div class="row mb-4">
                <div class="col-sm-6">
                    <h2 class="posts-entry-title">Food</h2>
                </div>
                <div class="col-sm-6 text-sm-end"><a href="/category/Food" class="read-more">View All</a></div>
            </div>

            <div class="row">
                <p style="font-size: large; color: black;">Embrace the future with our tech-focused blog, where we
                    delve into the fascinating realm of
                    cutting-edge innovations and explore how they shape our lives.</p>

                <% blogs.Food.forEach(blog=> { %>
                    <div class="col-lg-4 mb-4">
                        <div class="post-entry-alt">
                            <a href="/blog/<%= blog._id %>" class="img-link">
                                <div class="img-wrapper">
                                    <img src="<%= blog.titleImage %>" alt="Image" class="img-fluid custom-img">
                                </div>
                            </a>
                            <div class="excerpt">

                                <h2><a href="blog/<%= blog._id %>">
                                        <%= blog.title %>
                                    </a></h2>
                                <div class="post-meta align-items-center text-left clearfix">


                                    <span>
                                        <%= blog.date %>
                                    </span>
                                </div>

                                <p>
                                    <%- blog.body.substring(0,100) + "..." %>
                                </p>
                                <p><a href="blog/<%=blog._id%>" class="read-more">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>

        </div>
    </section>

    <section id="improvement" class="section posts-entry posts-entry-sm bg-light">
        <div class="container">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h2 class="posts-entry-title">Home Improvement</h2>
                </div>
                <div class="col-sm-6 text-sm-end"><a href="/category/Home Improvement" class="read-more">View
                        All</a>
                </div>
            </div>
            <div class="row">
                <p style="font-size: large; color: black;">Transform your living space into a haven of beauty and
                    functionality with our home improvement blog, where we share expert advice, creative ideas, and
                    DIY
                    projects to bring out the best in your abode.</p>
                <% blogs["Home Improvement"].forEach(blog=> { %>
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-entry">
                            <a href="/blog/<%= blog._id %>" class="img-link">
                                <div class="img-wrapper-l">
                                    <img src="<%= blog.titleImage %>" alt="Image" class="img-fluid custom-img">
                                </div>
                            </a>
                            <span class="date">
                                <%= blog.date %>
                            </span>
                            <h2><a href="single.html">
                                    <%= blog.title %>
                                </a></h2>
                            <p>
                                <%- blog.body.substring(0,50) + "..." %>
                            </p>
                            <p><a href="#" class="read-more">Continue Reading</a></p>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </section>

    <script>
        // Get the blog title image URL from the server-side data
        const blog1 = '<%= recentBlogs.Technology[0]?.titleImage.replace(/\\/g, "/") %>';
        const blog2 = '<%= recentBlogs.Lifestyle[0]?.titleImage.replace(/\\/g, "/") %>';
        const blog3 = '<%= recentBlogs.Food[0]?.titleImage.replace(/\\/g, "/") %>';
        const blog4 = '<%= recentBlogs["Home Improvement"][0]?.titleImage.replace(/\\/g, "/") %>';

        // Set the background image dynamically using JavaScript
        document.getElementById('blog1').style.backgroundImage = `url('${blog1}')`;
        document.getElementById('blog2').style.backgroundImage = `url('${blog2}')`;
        document.getElementById('blog3').style.backgroundImage = `url('${blog3}')`;
        document.getElementById('blog4').style.backgroundImage = `url('${blog4}')`;
    </script>

    <%- include("Components/Footer") %>