<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords"
        content="tailwind,tailwindcss,tailwind css,css,starter template,free template,admin templates, admin template, admin dashboard, free tailwind templates, tailwind example">
    <!-- Css -->
    <link rel="stylesheet" href="./dist/styles.css">
    <link rel="stylesheet" href="./dist/all.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
    <title>Dashboard | Info Wheel</title>
    <style>
        .post-content-body {
            text-align: center;
        }

        .img_pnl img {
            width: 40%;
            height: auto;
        }
    </style>
</head>

<body>

    <!--Container -->
    <div class="mx-auto bg-grey-400">
        <!--Screen-->
        <div class="min-h-screen flex flex-col">
            <!--Header Section Starts Here-->
            <header class="bg-nav">
                <div class="flex justify-between">
                    <div class="p-1 mx-3 inline-flex items-center">
                        <i class="fas fa-bars pr-2 text-white" onclick="sidebarToggle()"></i>
                        <h1 class="text-white p-2">Logo</h1>
                    </div>
                    <div class="p-1 flex flex-row items-center">
                        <a href="https://github.com/tailwindadmin/admin"
                            class="text-white p-2 mr-2 no-underline hidden md:block lg:block">User</a>


                        <img onclick="profileToggle()" class="inline-block h-8 w-8 rounded-full"
                            src="https://avatars0.githubusercontent.com/u/4323180?s=460&v=4" alt="">
                        <a href="#" onclick="profileToggle()"
                            class="text-white p-2 no-underline hidden md:block lg:block">Swayam Maheshwari</a>
                        <div id="ProfileDropDown"
                            class="rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
                            <ul class="list-reset">
                                <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">My
                                        account</a></li>
                                <li><a href="#"
                                        class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Notifications</a>
                                </li>
                                <li>
                                    <hr class="border-t mx-2 border-grey-ligght">
                                </li>
                                <li><a href="#"
                                        class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!--/Header-->

            <div class="flex flex-1">
                <!--Sidebar-->
                <aside id="sidebar"
                    class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block">

                    <ul class="list-reset flex flex-col">
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white">
                            <a href="/dashboard"
                                class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Dashboard
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white">
                            <a href="/update"
                                class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Update Blogs
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                    </ul>

                </aside>
                <!--/Sidebar-->
                <!--Main-->
                <main class="bg-white-300 flex-1 p-3 overflow-hidden">
                    <div class="flex flex-col">
                        <!-- Stats Row Starts Here -->


                        <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
                            <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
                                <div class="bg-gray-200 px-2 py-3 border-solid border-gray-300 border-b">
                                    All Blogs
                                </div>
                                <div class="p-1 flex flex-1 flex-col  justify-between md:mx-1 lg:mx-1">

                                    <!-- horizontal card -->
                                    <% blogs.forEach(blog=> { %>


                                        <div
                                            class="border-r border-b border-l border-gray-300 lg:border-l-0 lg:border-t lg:border-gray-300 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                                            <div class="mb-2">

                                                <div class="text-black-500 font-bold text-lg mb-2">
                                                    <a href="/update/<%= blog._id %>">
                                                        <%= blog.title %>
                                                    </a>

                                                </div>
                                                <div class="text-gray-700 text-base">
                                                    <a href="/update/<%= blog._id %>"> <%- blog.body %></a>

                                                </div>
                                            </div>
                                            <div class="flex items-center">
                                                <a href="/update/<%= blog._id %>"><img
                                                        class="w-10 h-10 rounded-full mr-4" src="/images/edit.png"
                                                        alt=""></a>
                                                <a href="/update/<%= blog._id %>"><img
                                                        class="w-10 h-10 rounded-full mr-4" src="/images/trash.png"
                                                        alt=""></a>
                                                <div class="text-sm">
                                                    <p class="text-black leading-none mb-2">Category: <%= blog.category
                                                            %>
                                                    </p>
                                                    <p class="text-gray-dark">
                                                        <%= blog.date %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>


                                            <!-- /horizontal card -->
                                </div>
                            </div>
                        </div>



                    </div>
                </main>
                <!--/Main-->
            </div>
            <!--Footer-->
            <footer class="bg-grey-darkest text-white p-2">
                <div class="flex flex-1 mx-auto">&copy; Design &</div>
                <div class="flex flex-1 mx-auto">Distributed by: <a href="" target="_blank">Kurenai</a></div>
            </footer>
            <!--/footer-->

        </div>

    </div>
    <script src="./main.js"></script>
    <script>
        // Get the Body input element
        const bodyInput = document.querySelector('textarea[name="Body"]');

        // Get the image input elements
        const imageInput1 = document.getElementById('formFile2');
        const imageInput2 = document.getElementById('formFile3');

        // Add an event listener to the Body input
        bodyInput.addEventListener('input', function () {
            const wordCount = this.value.trim().split(/\s+/).length;
            console.log(wordCount)
            const imageInputs = [imageInput1, imageInput2];

            if (wordCount >= 250) {
                document.getElementById('image-inputs').classList.remove('hidden');
            } else {
                document.getElementById('image-inputs').classList.add('hidden');
                document.getElementById('image-inputs-2').classList.add('hidden');
            }

            if (wordCount >= 500) {
                document.getElementById('image-inputs-2').classList.remove('hidden');
            } else {
                document.getElementById('image-inputs-2').classList.add('hidden');
            }
        });

    </script>
</body>

</html>